++
/* common css start */

body{
    font-family:'PT Sans', sans-serif;
    font-size: 16px ;
    font-weight: 400;
    color: #898989;
}
/* common css end */

/* header css start  */
header{
    padding: 20px 0px;
    background-color: #fcdb00;
}
 
.cnav{}
.logo{}
.menu ul li a{
    font-size: 22px;
    font-weight: 700;
    color: #010101 !important;
    padding: 0px 50px !important;
}
.menu ul li a:hover{
   color: #fff !important;
}
.menu ul li:last-child a{
   padding-right: 0px !important;
}

/* header css end */

/* slider css start */

.slider{
    background-color: #fcdb00;
    padding-bottom: 100px;
}
.c_ind{
    bottom: -80px;
}

.c_ind [data-bs-target]{
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
}


.s_text{
   margin-top: 50px;
}

.s_text h1{
font-size: 32px;
font-weight: 700;
color: #010101;
}
.s_text h2{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 700;
    color: #313841;
    }

.s_text p{
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 400;
    color: #555555;
}

.s_icon ul li{
    margin-right: 30px !important;
    
}
.s_icon ul li i{
   font-size: 42px;
    color: #010101;
    transition: 0.5s;
}
.s_icon ul li:hover i{
    transition: 0.5s;
    transform:rotate(90deg);
}



/* slider css end*/